{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style-edit.css' %}"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/6b20b1c14d.js"
      crossorigin="anonymous"
    ></script>
    <title>Edit Profile</title>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <a href="{% url 'index' %}">
          <i class="fas fa-chevron-circle-left back-btn"></i>
        </a>

        <div class="header-box">
		  <h2 class="header-title">Edit team member<h2/>
		  <h3 class="header-sentence">Edit contact info, location, and role.<h3/>
        </div>
		<hr />
      </header>

      <form action="" method="POST">
        {% csrf_token %}
        <section>
		  <h1 class="info-title">Info</h1>
      {% comment %} {% if member.is_superuser %}
				<p>Hello, admin.</p>
			{% else %}
				<p>Hello, ordinary visitor.</p>
			{% endif %} {% endcomment %}
          <div class="info-line">
            <input
              type="text"
              class="type"
              name="firstname"
              placeholder="First Name"
              value="{{member.first_name}}"
            />
          </div>

          <div class="info-line">
            <input
              type="text"
              class="type"
              name="lastname"
              placeholder="Last Name"
              value="{{member.last_name}}"
            />
          </div>

          <div class="info-line">
            <input
              type="text"
              class="type"
              name="emailaddress"
              placeholder="Email Address"
              value="{{member.email}}"
            />
          </div>

          <div class="info-line">
            <input
              type="text"
              class="type"
              name="phonenumber"
              placeholder="Phone Number"
              value="{{member.phone_number}}"
            />
          </div>

		  <h1 class="role-title">Role</h1>

		  <div>
			<div class="label">
				<input type="radio" name="role" id="Regular" value="R"/>
        <label for="Regular">Regular - Can't delete members</label> 
			</div>

			<hr />
			<div class="label">
				<input type="radio" name="role" id="Admin" value="A"/>
        <label for="Admin">Admin - Can delete members</label> 
			</div>

            <script type="text/javascript">
                if ("A" === "{{member.role}}") {
                    document.getElementById("Admin").checked = true;
                } else {
                    document.getElementById("Regular").checked = true;
                }
            </script>
			<hr />
		  </div>
        </section>

        <section class="button-container">
            <button type="submit" class="delete-button" name="delete">Delete</button>
            <button type="submit" class="edit-button" name="update">Save</button>
        </section>

      </form>
    </div>
  </body>

</html>
